/**
 * Product form
 */
.single-product form.cart {
    display: flex;
    flex-direction: column;
}
.single-product form.cart .quantity {
    order: -1;
}

/**
 * Dependency fields
 */
div[data-dependency] {
    display: none;
}