/**
 * Addons table
 */
.wc-addon-bulk-discount-discounts {
    width: 40%;
}
.wc-addon-bulk-discount-field {
    float: left;
    width: 40%;
    margin-right: 2%;
}
.wc-addon-bulk-discount-fields {
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
}
.wc-addon-bulk-discount-fields:first-child .remove_addon_bulk_discount {
    display: none;
}